body{
    background-color:yellow;
    margin:0px;
    font-family: 'Indie Flower', cursive;
}
#Wild_page{
    width: 900px;
    margin: auto;

}
H1 {
    margin-top: 10px;
    font-family: "Arial", serif;
    font-size: 3em;
    text-align: center;
    color:red;
    font-size: italic;
    font-weight: 110;
    padding: 0px;
}
.annonce{
    padding-left: 20px;
    font-family:"Arial", serif;
    font-size:2em;
    font-style: italic;
    font-weight: 110;
    text-align: center;
    color:black;
    font-style:italic;
}
#general{
    padding-left: 160px;
    padding-right: 90px;
}
